<a href="https://colab.research.google.com/github/yashppawar/FSDS/blob/main/assignments/02-Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ASSIGNMENT - 02 - Compulsory
Full Stack Data Science Bootcamp 2.0 - iNeuron
## Send it before 0000 hrs IST or 12 AM Wednesday

## NOTE: Evaluation will be done before next class.

## HOW TO SUBMIT: -
Download this notebook, Solve it and upload in the google form given in the mail.

## Python String Manipulation

1. Count the number of times `iNeuron` appears in the string.
```python
text = "Welcome to iNeuron, You are a part of FSDS Bootcamp 2 in iNeuron. I hope you are enjoying the course by iNeuron"
```

In [2]:
text = "Welcome to iNeuron, You are a part of FSDS Bootcamp 2 in iNeuron. I hope you are enjoying the course by iNeuron"

phrase = "iNeuron"
# using the str.count() method
count = text.count(phrase)

print(f"{phrase} occurs {count} times in the text")

iNeuron occurs 3 times in the text

2. Check if position `5` to `11` ends with the phrase `iNeuron.` in the string 
```python
txt = "Hello, welcome to FSDS 2.0 at iNeuron."
```

In [4]:
# get the position 5 to 11 using string slicing
# then use the str.endswith() to check if the text ends with given phrase
phrase = "iNeuron."

txt = "Hello, welcome to FSDS 2.0 at iNeuron."

txt[5:11].endswith(phrase)

False

3. Write a program that takes your full name as input and displays the abbreviations of the first and middle names except the last name which is displayed as it is. For example, if your name is Sunny Bhaveen Chandra, then the output should be S.B.Chandra.

In [8]:
name = input("Enter full name: ").strip()

name_fragments = name.split()
shortened_name = ' '.join([n[0] + '.' for n in name_fragments[:-1]] + [name_fragments[-1]])

shortened_name

Enter full name: Sunny Bhaveen Chandra

'S. B. Chandra'

4. Join all items in a list into a string, using a hash(`#`) character as separator:
```python
LIST = ["My", "name", "is", "Rishav", "Dash"]
```

In [9]:
LIST = ["My", "name", "is", "Rishav", "Dash"]

# by using the str.join() method
"#".join(LIST)

'My#name#is#Rishav#Dash'

5. Write example for the following string manipulation function,

  ```
  - isdecimal()
  - islower()
  - isupper()
  - isalpha()
  - isnumeric()

  ```

In [13]:
# isdecimal
string = '32'
print(string.isdecimal())

True

In [14]:
# islower()
upper_string = "HELLO WORLD"
upper_string.islower()

False

In [15]:
lower_string = "hello world"
lower_string.islower()

True

In [16]:
# isupper()
lower_string.isupper()

False

In [17]:
upper_string.isupper()

True

In [18]:
# isalpha()
upper_string.isalpha()

False

In [21]:
alpha_string = "hellothisisalpha"
alpha_string.isalpha()

True

In [23]:
# isnumeric()
alpha_string.isnumeric()

False

In [24]:
numeric_string = "1234567"
numeric_string.isnumeric()

True


6. Indian PAN card format follows the following formats - 
    - `AYEPC7894X`
    - `ABCDE9999Y`
  Take user input for PAN_CARD and validate as per the above example.

In [25]:
pan_card_num = input("Enter Pan Card Number: ")

print("Valid" if pan_card_num.isalnum() else "Not Valid")

Enter Pan Card Number: AYEPC7894X
Valid

# Thank You
Completed on: 9th October 2022