<a href="https://colab.research.google.com/github/yashppawar/FSDS/blob/main/DashboardAssignments/ProgrammingAssignments/ProgrammingAssignment04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# | Programming Assignment - 04
Full Stack Data Science Bootcamp 2.0 - iNeuron

## 1. Write a Python Program to Find the Factorial of a Number

The symbol "!" can be used to denote a factorial. Therefore, "n factorial" is denoted by the number n and is the sum of the first n natural integers!

`4!` = 4 * 3 * 2 * 1 = 4 * 3!

In [2]:
n = int(input("Enter n: "))

fact = 1

for i in range(1, n + 1):
    fact *= i

print(f"{n}! = {fact}")

Enter n: 5
5! = 120

## 2. Write a Python Program to Display the multiplication Table

In [4]:
num = int(input("Enter the num of which multiplication table is to be printed: "))

for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

Enter the num of which multiplication table is to be printed: 17
17 x 1 = 17
17 x 2 = 34
17 x 3 = 51
17 x 4 = 68
17 x 5 = 85
17 x 6 = 102
17 x 7 = 119
17 x 8 = 136
17 x 9 = 153
17 x 10 = 170

## 3. Write a Python Program to Print the Fibonacci sequence

fibonacci sequence is formed by the sum of previous 2 numbers in the sequence, it starts with 0, 1

In [7]:
n = int(input("Enter n: "))

a, b = 0, 1

print(a, b, end=" ")

for i in range(n - 1):
    c = a + b
    print(c, end=" ")
    a = b
    b = c

Enter n: 15
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610

# 4. Write a Python Program to Check Armstrong Number

An Armstrong number is a number that is the sum of its own digits each raised to the power of the number of digits.

In [8]:
number = int(input("Enter a number: ").strip())

num_digits = len(str(number))
original = number
arm = 0

while number > 0:
    arm += (number % 10) ** num_digits
    number = number // 10 

print("Armstrong Number" if (arm == original) else "Not Armstrong Number")

Enter a number: 153
Armstrong Number

In [9]:
number = int(input("Enter a number: ").strip())

num_digits = len(str(number))
original = number
arm = 0

while number > 0:
    arm += (number % 10) ** num_digits
    number = number // 10 

print("Armstrong Number" if (arm == original) else "Not Armstrong Number")

Enter a number: 123
Not Armstrong Number

## 5. Write a Python Program to Find Armstrong Number in an Interval

this can be achieved by building on the above code for checking for armstrong number

In [12]:
interval_begin = int(input("Enter begining of interval: "))
interval_end = int(input("Enter ending of interval: "))

for number in range(interval_begin, interval_end + 1):
    original = number
    arm = 0

    while number > 0:
        arm += (number % 10) ** num_digits
        number = number // 10 

    if (arm == original):
        print(original)

Enter begining of interval: 2
Enter ending of interval: 789
153
370
371
407

## 6. Write a Python Program to Find the Sum of Natural Numbers

In [13]:
n = int(input("Enter n: "))

sum = 0
for i in range(n + 1):
    sum += i

print(f"Sum of natural numbers till {n} is {sum}")

Enter n: 100
Sum of natural numbers till 100 is 5050

# Thank You

completed on: 9th October 2022