<a href="https://colab.research.google.com/github/yashppawar/FSDS/blob/main/DashboardAssignments/ProgrammingAssignments/ProgrammingAssignment02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# | Programming Assignment - 02
Full Stack Data Science Bootcamp 2.0 - iNeuron

## 1. Write a Python program to convert kilometers to miles

$$1  km = 1.60934 miles$$
$$\implies 1 mile = \frac 1 {1.60934} km$$

In [1]:
# kms_to_miles.py
kms = float(input("Enter kilometers: "))
miles = kms / 1.60934

print(f"{kms:.3f} kms = {miles:.3f} miles")  # display rounded output

Enter kilometers: 1024
1024.000 kms = 636.286 miles

## 2. Write a Python program to convert Celsius to Fahrenheit

$$ ° F = \frac 9 5 \cdot ° C + 32 $$

In [2]:
# celsius_to_fahrenheit.py
celsius = float(input("Enter temperature in Celsius: "))

fahrenheit = (9/5) * celsius + 32
print(f"{celsius:.1f} °C = {fahrenheit:.1f} °F")

Enter temperature in Celsius: 35
35.0 °C = 95.0 °F

## 3. Write a Python program to display calendar

To display the calander we can use a module from the standard library, `calendar`

In [3]:
import calendar

We can use multiple functions from the `calender` module
- month https://docs.python.org/3/library/calendar.html#calendar.month
- Print Year https://docs.python.org/3/library/calendar.html#calendar.TextCalendar.pryear

we will print the calander for the whole year

In [4]:
year = int(input("Enter Year: "))

tc = calendar.TextCalendar()
tc.pryear(year)

Enter Year: 2022
                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

## 4. Write a Python program to solve quadratic equation

Quadratic Equations can be solved using Quadratic formulas

$x = \frac{-b\pm\surd{(b^2-4ac)}}{2a}$

In [8]:
import math

print("ax^2 + bx + c")
a = int(input("Enter a: "))
b = int(input("Enter b: "))
c = int(input("Enter c: "))

discriminant = b**2 - (4 * a * c)

if discriminant < 0:
    print("No Real Roots")
else:
    root = (-b + math.sqrt( discriminant)) / (2 * a)
    print(f"Root = {root}")
    if discriminant > 0:
        root = (-b - math.sqrt(discriminant)) / (2 * a)
        print(f"Root = {root}")

ax^2 + bx + c
Enter a: 1
Enter b: 2
Enter c: 1
Root = -1.0

## 5. Write a Python program to swap two variables without temp variable

Data in variables can be swapped using 2 ways
- Using temp variable
- using multiple assignment/tuple unpacking

In [9]:
# Using temp variable
a = "value"
b = "another value"

print(f"a = {a}, b = {b}")
temp = a
a = b
b = temp
print(f"a = {a}, b = {b}")

a = value, b = another value
a = another value, b = value

In [10]:
# Using multiple assignment
a = "value"
b = "another value"

print(f"a = {a}, b = {b}")
a, b = b, a
print(f"a = {a}, b = {b}")

a = value, b = another value
a = another value, b = value

# Thank you
Completed on : 8th October 2022